@import url('../../css-1');
@import url('../../css-2');

body {
    font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        right: -10px;
        top: 160px;
        background: #02be2e;
        text-align: center;
        border-radius: 45px 45px 45px 45px; 
        color: #ffffff;
        padding: 1px 15px;
        font-weight: 800;
        font-size: 0.75em;

    }

#ads .card-notify-btn {
        position: absolute;
        background: #02be2e;
        text-align: center;
        border-radius: 45px 45px 45px 45px; 
        color: #ffffff;
        padding: 1px 15px;
        font-weight: 800;
        font-size: 0.75em;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {   
        position: absolute;
        right: -8px;
        top: 186px;   
        background: #a9ea44;
        text-align: center;
        border-radius: 45px 45px 45px 45px;
        color: #000;
        padding: 0px 10px;
        font-size: 0.7em;
        font-weight: 700        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        width: auto;
        border-radius: 80px;
        font-size: 13px;
        text-align: center;
        border: 3px solid #f8f9fa;
        padding: 2px 12px 2px 12px;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #ffffff;
            color: #1e1717;
            border: 2px solid #ffffff;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }